.product {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.product img {
    height: 220px;
}

.product p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 15px;
}